name: cicd
on:
  push:
    branches:
      - master

jobs:
  cicd:
    name: Run CI/CD
    runs-on: ubuntu-20.04
    if: |
      !contains(github.event.head_commit.message, 'skip ci') &&
      !contains(github.event.head_commit.message, 'Initial commit')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ap-southeast-2

      - name: Lint
        run: ./bin/10-lint.sh

      - name: Trigger update for repositories using this template
        run: ./bin/update-templates.sh